In [2]:
import pandas as pd
import FinanceDataReader as fdr
from datetime import datetime

In [2]:
# KRX(Korea Exchange)에 상장된 종목들의 리스트를 가져온다.
# krx = pd.read_html('https://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0, encoding='cp949')[0]
# krx = krx[['종목코드', '회사명', '업종', '상장일']]
# krx = krx.rename(columns={'종목코드': 'Ticker', '회사명': 'Company'})

# # 종목 코드 앞에 '0'을 붙여 6자리로 맞춥니다.
# krx['Ticker'] = krx['Ticker'].apply(lambda x: str(x).zfill(6))

c:\Users\admin\Documents\GitHub\Automated-Trading-Systems\.venv\Lib\site-packages\bs4\__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

### 등락률 순위를 반환하는 함수
- 1일, 1주일, 1개월, 6개월, 1년 기준

In [3]:
today = datetime.today().strftime("%Y%m%d")

today

'20240130'

In [9]:
stocks = fdr.StockListing('KRX')
stocks

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,74300,2,-100,-0.13,75000,75300,73700,12244418,910103102143,443554843465000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,136900,1,1900,1.41,135300,137800,134400,2297631,312515318400,99663523768500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,375000,2,-2500,-0.66,382500,387500,373000,222999,84842319000,87750000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,823000,1,23000,2.88,800000,829000,800000,147117,120457186000,58576202000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,59800,2,-700,-1.16,60400,60700,59600,830087,49767036200,49208624660000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2784,217320,KR7217320001,썬테크,KONEX,일반기업부,2655,0,0,0.00,0,0,0,0,0,2787750000,1050000,KNX
2785,288490,KR7288490006,나라소프트,KONEX,일반기업부,53,2,-1,-1.85,56,56,50,304326,15583541,2777980796,52414732,KNX
2786,308700,KR7308700004,테크엔,KONEX,일반기업부,615,2,-2,-0.32,640,640,550,706,403787,2460000000,4000000,KNX
2787,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1497,2,-3,-0.20,1300,1497,1300,2,2797,2365200120,1579960,KNX
2788,322190,KR7322190000,베른,KONEX,일반기업부,116,2,-3,-2.52,116,116,116,2,232,1035322852,8925197,KNX

In [13]:
# 종목 리스팅 (종목수는 2022년 10월 25일 기준, 시장 규모 가늠 용도)
# KRX 상장회사(발행회사)목록 (가격 중심, 주식 종목) - 시가총액순
krx_lst = fdr.StockListing('KRX') # KRX: 2,663 종목(=코스피+코스닥+코넥스)

# US Market listings 미국 시장 거래소별 전종목 리스팅
sp500_lst = fdr.StockListing('S&P500') # S&P500: 503 종목  
nasdaq_lst = fdr.StockListing('NASDAQ') # 나스닥 (NASDAQ): 4,607 종목
nyse_lst = fdr.StockListing('NYSE') # 뉴욕증권거래소 (NYSE): 3,364 종목

100%|██████████| 3972/3972 [00:08<00:00, 475.23it/s]
100%|██████████| 2909/2909 [00:05<00:00, 562.48it/s]

In [14]:
krx_lst

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,70900,1,1300,1.87,69800,70900,69300,22228489,1555019933294,423257582795000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,493500,1,91500,22.76,451500,500000,435000,1894906,898455121000,115479000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,133000,1,7200,5.72,125800,133000,125800,6923192,905341125800,96824314545000,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,732000,1,27000,3.83,713000,732000,710000,80061,57711239000,52099368000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,57200,1,600,1.06,57000,57400,56200,1216282,69130154400,47069119240000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760,002785,KR7002781003,진흥기업우B,KOSPI,,3715,2,-25,-0.67,3790,3790,3710,772,2867555,3184564870,857218,STK
2761,288490,KR7288490006,나라소프트,KONEX,일반기업부,63,1,4,6.78,61,65,59,29395,1838641,2725821315,43267005,KNX
2762,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1599,1,10,0.63,1500,1599,1500,11,16599,2526356040,1579960,KNX
2763,308700,KR7308700004,테크엔,KONEX,일반기업부,439,2,-61,-12.20,439,439,439,678,297642,1756000000,4000000,KNX
2764,322190,KR7322190000,베른,KONEX,일반기업부,101,2,-10,-9.01,127,127,101,3950,501624,901444897,8925197,KNX

In [36]:
krx_lst['marcap_rank'] = krx_lst['Marcap'].rank(ascending=False)-1
krx_lst['marcap_rank_ratio'] = list(map(int, ((krx_lst['marcap_rank']/len(krx_lst) * 100)//10+1)*10)) # 10개 랭크로 나누기
krx_lst['marcap_percentile'] = krx_lst.apply(lambda x:f"상위 {x['marcap_rank_ratio']}%", axis=1)
krx_lst.drop(['marcap_rank', 'marcap_rank_ratio'], axis=1, inplace=True)
krx_lst

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,marcap_percentile
0,005930,KR7005930003,삼성전자,KOSPI,,70900,1,1300,1.87,69800,70900,69300,22228489,1555019933294,423257582795000,5969782550,STK,상위 10%
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,493500,1,91500,22.76,451500,500000,435000,1894906,898455121000,115479000000000,234000000,STK,상위 10%
2,000660,KR7000660001,SK하이닉스,KOSPI,,133000,1,7200,5.72,125800,133000,125800,6923192,905341125800,96824314545000,728002365,STK,상위 10%
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,732000,1,27000,3.83,713000,732000,710000,80061,57711239000,52099368000000,71174000,STK,상위 10%
4,005935,KR7005931001,삼성전자우,KOSPI,,57200,1,600,1.06,57000,57400,56200,1216282,69130154400,47069119240000,822886700,STK,상위 10%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760,002785,KR7002781003,진흥기업우B,KOSPI,,3715,2,-25,-0.67,3790,3790,3710,772,2867555,3184564870,857218,STK,상위 100%
2761,288490,KR7288490006,나라소프트,KONEX,일반기업부,63,1,4,6.78,61,65,59,29395,1838641,2725821315,43267005,KNX,상위 100%
2762,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1599,1,10,0.63,1500,1599,1500,11,16599,2526356040,1579960,KNX,상위 100%
2763,308700,KR7308700004,테크엔,KONEX,일반기업부,439,2,-61,-12.20,439,439,439,678,297642,1756000000,4000000,KNX,상위 100%
2764,322190,KR7322190000,베른,KONEX,일반기업부,101,2,-10,-9.01,127,127,101,3950,501624,901444897,8925197,KNX,상위 100%

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,marcap_rank
322,058970,KR7058970005,엠로,KOSDAQ,기술성장기업부,66000,1,500,0.76,65500,68100,63900,237302,15666538100,739999920000,11212120,KSQ,323.0

In [37]:
def get_krx_info():
    krx_lst = fdr.StockListing('KRX')
    krx_lst['marcap_rank'] = krx_lst['Marcap'].rank(ascending=False)-1
    krx_lst['marcap_rank_ratio'] = list(map(int, ((krx_lst['marcap_rank']/len(krx_lst) * 100)//10+1)*10)) # 10개 랭크로 나누기
    krx_lst['marcap_percentile'] = krx_lst.apply(lambda x:f"상위 {x['marcap_rank_ratio']}%", axis=1)
    krx_lst.drop(['marcap_rank', 'marcap_rank_ratio'], axis=1, inplace=True)
    return krx_lst

In [15]:
sp500_lst

,Symbol,Name,Sector,Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Pharmaceuticals
4,ACN,Accenture,Information Technology,IT Consulting & Other Services
...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
501,ZION,Zions Bancorporation,Financials,Regional Banks
502,ZTS,Zoetis,Health Care,Pharmaceuticals

In [22]:
nyse_lst

,Symbol,Name,Industry,IndustryCode
0,LLY,Eli Lilly and Co,제약,56201040
1,UNH,UnitedHealth Group Inc,의료 관리,56102020
2,V,Visa Inc,온라인 서비스,57201030
3,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체,57101010
4,XOM,Exxon Mobil Corp,"오일, 가스 정제 및 마케팅",50102030
...,...,...,...,...
2913,KMPB,Kemper 5 875 Fixed Rate Reset Junior Subordina...,손해보험,55301020
2914,MMM WD,3M Co,소비재 대기업,54401010
2915,RZC,Reinsurance Group of America 7 125 Fixed Rate ...,재보험,55301050
2916,NSA PR B,National Storage Affiliates 6 000 Cumulative ...,특수 REITs,60102040
2917,PMTU,PennyMac Mortgage Investment 8 50 Senior Notes...,특수 REITs,60102040

# 시총별 grade 나누기

In [5]:
#jsMdiContent > div > div.CI-GRID-AREA.CI-GRID-ON-WINDOWS.CI-GRID-CLICKED
import requests
from bs4 import BeautifulSoup as bs

page = requests.get("http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201020101/")
soup = bs(page.text, "html.parser")
soup.find_all('table')

[<table>
 <colgroup>
 <col style="width:100%;"/>
 </colgroup>
 <tbody id="jsSchRsTbl">
 </tbody>
 </table>]

In [7]:
from pykrx import stock
 
df = stock.get_market_cap_by_ticker("20201030")
 
print(df)

            종가             시가총액       거래량           거래대금       상장주식수
티커
005930   56600  337889692330000  26907844  1541223383000  5969782550
000660   79900   58167388963500   2710477   219064698950   728002365
035420  290000   47636384550000    939833   275981100000   164263395
207940  682000   45124530000000    251134   174660762000    66165000
051910  611000   43131921573000    820454   512035157000    70592343
...        ...              ...       ...            ...         ...
224020     910       2457000000         0              0     2700000
267810    1450       2243150000      2003        2554350     1547000
238500     443       2074199538      4208        1777904     4682166
344860    1115       2073900000         0              0     1860000
225860     159       1805936628     10753        1819284    11358092

[2507 rows x 5 columns]